body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: #555252;
    margin: 10px auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  h1 {
    font-size: 1.0rem;
    margin-top: 0.5rem;
    margin-bottom: 1.0rem;
    text-align: center;
    color: #18abf9;
  }
  label {
    display: block;
    font-size: 0.5rem;
    margin-bottom: 0.2rem; /* Reducir el espacio entre los labels */
    color: #555555;
  }
  
  input[type="number"],
  select,
  button {
    width: 30%; /* Ajustar el ancho del input */
    padding: 6px;
    margin-bottom: 0.5rem; /* Reducir el espacio entre los inputs */
    font-size: 0.5rem;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background-color: hsl(0, 23%, 91%);
    box-sizing: border-box;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  
  
  
  
  #result {
    margin-bottom: 1rem;
  }
  
  canvas {
    max-width: 50%;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  